<%- include("./partials/header.ejs") %>
<h1>Submitted Form Data</h1>
<table border="1">
    <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
               <td><%= user.name %></td>
               <td><%= user.phone %></td>
               <td><%= user.email %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<h2>About</h2>
<%- include("./partials/footer.ejs") %>